@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes wobbleTop {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(6deg);
    }

    30% {
        transform: translateX(15px) rotate(-6deg);
    }

    45% {
        transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(1.2deg);
    }
}

.asset-section {
    opacity: 0;
    animation: fadeInTop 1s ease 0s 1 normal forwards;
    animation-delay: 0.8s;
}

.asset-section .comment,
.asset-section .chat,
.asset-section .post {
    animation: float 2s ease-in-out infinite;
}

.hero {
    height: 30vw;
    width: 30vw;
    min-width: 18rem;
    min-height: 18rem;
    background-image: url("/assets/Variant-1.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    transition: all ease 1s;
    transform-origin: top
    /* overflow-x: hidden; */
}
.comment {
    height: 70%;
    width: 70%;

    position: absolute;
    top: 0%;
    left: -55%;
    background-image: url("/assets/Comment.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
}
.chat {
    height: 70%;
    width: 70%;

    position: absolute;
    bottom: -12%;
    left: -60%;
    background-image: url("/assets/Chat.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */

}
.post {
    height: 80%;
    width: 80%;

    position: absolute;
    top: 10%;
    right: -70%;
    background-image: url("/assets/Post.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    /* overflow-x: hidden; */
}
.designer {
    height: 160%;
    width: 160%;

    position: absolute;
    background-image: url("/assets/Designer.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    /* overflow-x: hidden; */
}

.header-text {
    animation: fadeInTop 1s ease 0s 1 normal forwards;
}
.header-desc {
    opacity: 0;
    animation: fadeInTop 1s ease 0s 1 normal forwards;

    animation-delay: 0.2s;
}
