.book-card-wrapper {
    background: var(--mui-blue) !important;
    position: relative;
}

.book-card-wrapper * {
    z-index: 10
}

.book-card-wrapper::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: #1565c0;
    border-radius: 50%;
    top: -100px;
    right: -110px;
    z-index: 2;
    opacity: 0.7;
}

.book-card-wrapper::after {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgb(21, 101, 192);
    border-radius: 50%;
    opacity: 0.5;
    top: -125px;
    right: 100px;
    z-index: 1;
}

.book-small-wrapper {
    background: linear-gradient(var(--mycardoverlay), var(--mycardoverlay)), var(--mui-blue) !important;
}